# HeadHunter API Credentials
NEXT_PUBLIC_HH_CLIENT_ID=MI6VLQ3KDNT1BOOLBC7VAB9F4IB1V8A73KAQ21IKI59Q618SQDD5IPA2R9GMPF9T
HH_API_KEY=MI6VLQ3KDNT1BOOLBC7VAB9F4IB1V8A73KAQ21IKI59Q618SQDD5IPA2R9GMPF9T
HH_API_SECRET=JFVAEI4Q1HRILG8Q6IDL7SAJK1PCS6FHL9I6B9K0CI4SVDIRKGVE1TMI9N658TDQ

# For development (localhost:3000)
NEXT_PUBLIC_HH_REDIRECT_URI=http://localhost:3000/auth/callback
HH_REDIRECT_URI=http://localhost:3000/auth/callback

# For production (uncomment these when deploying)
# NEXT_PUBLIC_HH_REDIRECT_URI=https://autohhapply.com/auth/callback
# HH_REDIRECT_URI=https://autohhapply.com/auth/callback 